@page "/product/details/{id:min(1)}"
@model OnlineShoping.Pages.Products.DetailsModel
@{
    ViewData["Title"] = "اطلاعات بیشتر";
     var notification = ViewData["Notification"];
    var PhotoImg = "/img/" + (@Model.product.Photo ?? "noimage.jpg");
}

<p>@notification</p>
<div class="row">
    <div class="col-5"><img src="@PhotoImg" width="500px"/></div>
    <div class="col-7">
        <div class="d-flex flex-column" style="margin-top:9rem;">
            <span>@Model.product.Name</span>
            <p class="mt-3 text-success" style="text-align: justify; ">@Model.product.Description </p>
            <span class="mt-3">@Model.product.Price</span>
        </div>
     
    </div>
</div>
