@page 
@model OnlineShoping.Pages.Products.IndexModel
@{
    ViewData["Title"] = "محصولات";
}

<style>
    .styles_VerticalProductCard--hover__ud7aD:hover {
        z-index: 1;
        -webkit-filter: drop-shadow(0 1px 5px rgba(0,0,0,.2));
        filter: drop-shadow(0 1px 5px rgba(0,0,0,.2));
    }

    a {
        color: black !important;
        text-decoration: none;
    }

    .breakpoint .text-body2-strong {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 2.17;
    }
</style>
<a href="/product/edit/">
    <button type="submit" class="btn btn-dark">ایجاد</button>
</a>

<div class="d-flex gap-1" style="height:100vh;">
    @foreach (var item in Model.products)
    {
        var PhotoImg = "/img/" + (@item.Photo ?? "noimage.jpg");
        <div class="product-list_ProductList__item__LiiNI" data-product-index="20">
            <a class="d-block pointer pos-relative bg-000 overflow-hidden grow-1 py-3 px-4 px-2-lg h-full-md styles_VerticalProductCard--hover__ud7aD" style="border:1px solid ; box-shadow:1px 2px 2px 2px" target="_blank">
                <div class="">
                    <article class="overflow-hidden d-flex flex-column ai-stretch jc-start h-full">
                        <div class="d-flex ai-center jc-start mb-1">
                            <div class="text-body2-extra grow-1">
                                <br>
                            </div>
                        </div>
                        <div class="d-flex grow-1 pos-relative flex-column">
                            <div class="">
                                <div class="d-flex ai-stretch flex-column pos-relative mb-1">
                                    <div class="d-flex ai-start mx-auto">
                                        <div>
                                            <div title="" style="width: 240px; height: 240px;">
                                                <picture>
                                                    <source type="image/webp">
                                                    <source type="image/jpeg">
                                                    <img class="w-100 lazyload radius-medium d-inline-block" src="@PhotoImg" style="object-fit: contain;" alt="تنگ ماهی مدل استوانه شیشه ای" width="240" height="240">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="d-flex ai-center jc-center gap-2 absolute top-0 left-0 flex-column p-1 bg-000 style_ProductImage__colors--topLeft__iHRie">
                                            <span class="radius-circle d-inline-block color_Color__l0PYL" style="background-color: rgb(245, 250, 253); width: 8px; height: 8px;"></span>
                                            <span class="radius-circle d-inline-block color_Color__l0PYL" style="background-color: rgb(255, 255, 254); width: 8px; height: 8px;"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grow-1 d-flex flex-column ai-stretch jc-start">
                                <div class="d-flex ai-center jc-start gap-1 flex-wrap mb-1"><br><br></div>
                                <div><h4 style="font-size:14px;">@item.Name</h4></div>
                                <div class="mb-1 d-flex ai-center jc-between">
                                    <div class="d-flex ai-center" data-ab-id="">
                                        <p class="text-caption visibility-hidden"></p><br>
                                    </div>
                                    <div class="d-flex ai-center">
                                        <p class="text-body2-strong color-700">@item.Price</p>
                                        <div class="d-flex mr-2 shrink-0"><svg style="width: 16px; height: 16px; fill: var(--color-icon-rating-0-2);"><use xlink:href="#starFill"></use></svg></div>
                                    </div>
                                </div>
                                <div class="pt-1 d-flex flex-column ai-stretch jc-between">
                                    <div class="d-flex ai-center jc-between">
                                        <div class="d-flex ai-center jc-end gap-1 color-700 color-400 text-h5 grow-1">
                                            <span>۳۱,۳۹۰</span>
                                            <div class="d-flex">
                                                <svg style="width: 16px; height: 16px; fill: var(--color-icon-high-emphasis);">
                                                    <use xlink:href="#toman"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex ai-center jc-between pl-5 gap-4">
                                        <form method="post" asp-page="/Products/Index" asp-route-ID="@item.ProductId">
                                            <button type="submit" class="btn btn-light border-1" style="border:1px solid #545678; background-color:white">حذف </button>
                                        </form>

                                        <form method="get" asp-page="/Products/Edit" asp-route-ID="@item.ProductId">
                                            <button type="submit" class="btn btn-light border-1" style="border:1px solid #545678; background-color:white">ویرایش </button>
                                        </form>
                                        <form method="get" asp-page="/Products/Details" asp-route-ID="@item.ProductId">
                                            <button type="submit" class="btn btn-light border-1" style="border:1px solid #545678; background-color:white">بیشتر ...</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </a>
        </div>
        <section class="product-list_ProductList__banner__Mxvqm">
        </section>

        <span class="w-full product-list_ProductList__banner__Mxvqm"></span>
    }
</div>